@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=IBM+Plex+Sans&display=swap");

/* Reset and Global Styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  color: #252525;
}

h1,
h2,
h3 {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

h2 {
  margin-top: 0;
  font-size: 3em;
  text-align: left;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 2em;
}

p {
  font-size: 1.2em;
}

label {
  font-size: 2em;
}

input {
  padding-bottom: 1em;
}

a:link {
  color: #f000d0;
}

a:visited {
  color: #8b0079;
}

/* Sections */
section {
  padding: 5% 10%;
}

section p {
  margin: 0 10% 5%;
}

section h2 {
  color: #f000d0;
}

/* Navigation */
.nav-container {
  display: flex;
  justify-content: center;
  background-image: url(img/header.jpeg);
  background-size: 2000px;
  background-position-y: -700px;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 2em;
  max-width: 1500px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2em;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  background-color: #fff;
  color: black;
}

.nav-link:hover {
  background-color: #f000d0;
  color: #fff;
}

/* Logo */
.logo {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 5em;
  color: #fff;
  mix-blend-mode: difference;
  user-select: none;
}

.logo::after {
  content: "TOP10";
}

.logo:hover::after {
  content: "";
}
.logo:hover::before {
  content: "";
  animation: strobe 1s infinite alternate;
}

/* Section Styles */
.black-section {
  background-color: #252525;
  color: white;
}

.black-section h2,
.black-section h3 {
  text-align: right;
  color: #fff;
  animation: color-switch 300ms infinite alternate;
}

/* Hero Section*/

.hero {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 56%,
    rgb(236, 236, 236) 100%
  );
}

.hero h2 {
  color: #252525;
  rotate: 2deg;
  text-align: center;
  animation: bobbing 4s infinite alternate-reverse;
  text-shadow: 0px 5px 5px #cccccc;
}

.album-art {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2em;
  animation: bobbing 2s infinite alternate;
}

.album-art img {
  width: 16vw;
  height: 16vw;
  min-height: 200px;
  min-width: 200px;
  box-shadow: 0px 5px 5px #888888;
}

.album-art #right {
  rotate: -4deg;
}

.album-art #middle {
  animation: bobbing 2s infinite alternate;
}

.album-art #left {
  rotate: 4deg;
}

/* Algorithm Info Panel */
.algo-info h2 {
  text-align: right;
  rotate: -2deg;
}

/* Call To Action */

.calltoact {
  border: none;
  padding: auto;
  padding: 0.5em;
  text-align: inherit;
  border-radius: 0;
  appearance: none;
  background-color: #252525;
  color: #ffffff;
  font-size: 3em;
  font-family: "Anton SC", sans-serif;
  transform: rotate(3deg);
  margin-left: 45%;
}

.calltoact:hover {
  background-color: #f000d0;
}

/* Separator */
.separate {
  height: 5em;
  background: linear-gradient(
    171deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 0, 208, 1) 100%
  );
}

/* Footer */
footer {
  padding: 20px 100px;
  margin: 0;
}

/* Sign Up Page */

.sign-up h1,
.sign-up h2,
.sign-up h3,
.sign-up p {
  text-align: center;
}

.su-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  min-height: 100vh;
}

.su-btn {
  text-decoration: none;
  border: none;
  padding: auto;
  padding: 0.5em;
  text-align: inherit;
  border-radius: 0;
  appearance: none;
  background-color: #252525;
  color: #ffffff;
  font-family: "Anton SC", sans-serif;
  font-size: 1.3em;
}

.su-btn:hover {
  background-color: #f000d0;
}

#su-remember {
  font-size: 0.7em;
}

#su-title {
  font-size: 3em;
  animation: bobbing 2s infinite alternate, color-switch2 3s infinite alternate;
}

/* Animations */
@keyframes strobe {
  0% {
    content: "TOP + TEN";
    opacity: 1;
  }
  100% {
    content: "TEN * TOP";
    opacity: 1;
  }
}

@keyframes color-switch {
  0% {
    color: #fff;
  }
  100% {
    color: #e0e0e0;
  }
}

@keyframes color-switch2 {
  0% {
    color: #000000;
  }
  100% {
    color: #f000d0;
  }
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

@keyframes wiper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wipe-animation {
  animation: wiper 1s 1;
}

/* Media Query */

@media screen and (max-width: 500px) {
  .logo {
    font-size: 2.8em;
    padding-right: 20px;
    padding-top: 20px;
  }
  .logo::after {
    content: "TOP10";
  }
  .logo:hover::before {
    content: "TEN10";
    animation: none;
  }
}

@media screen and (max-width: 730px) {
  .calltoact {
    font-size: 1.4em;
  }
}
